/ProgramacionMovil3/ProgramacionMovil3/ProgramacionMovil3/obj
/ProgramacionMovil3/ProgramacionMovil3/ProgramacionMovil3.Android/obj
/ProgramacionMovil3/ProgramacionMovil3/ProgramacionMovil3.iOS/obj
/ProgramacionMovil3/ProyectoWeb/obj
.vs/
/ProgramacionMovil3/ProyectoWeb/bin
/ProgramacionMovil3/.vs
/ProgramacionMovil3/ProgramacionMovil3/ProgramacionMovil3/bin
/ProgramacionMovil3/ProgramacionMovil3/ProgramacionMovil3.Android/bin
/ProgramacionMovil3/ProgramacionMovil3/ProgramacionMovil3.iOS/bin
/ProgramacionMovil3/ProyectoWeb.Tests/bin
/ProgramacionMovil3/ProyectoWeb.Tests/obj

*.dll

*.pdb


/Web.config

/ProgramacionMovil3/ProyectoWeb/Imagenes/
/ProgramacionMovil3/.vs/ProgramacionMovil3/v16
/ProgramacionMovil3/Proyecto.BaseDatos/obj
/ProgramacionMovil3/Proyecto.BaseDatos/bin
/ProgramacionMovil3/Proyecto.ModelView/bin
/ProgramacionMovil3/Proyecto.ModelView/obj
/ProgramacionMovil3/ProyectoWeb.Servicios/bin
/ProgramacionMovil3/ProyectoWeb.Servicios/obj

ProgramacionMovil3/ProyectoWeb.Servicios/App.config

*.config
